### 安裝myspl套件
pip install pymysql

In [1]:
import pymysql

pymysql.__version__

'1.4.6'

### 連接mysql

In [18]:
conn=pymysql.connect(
    user='root',
    passwd='12345678',
    host='localhost', # "127.0.0.1"
    database='shop',
    port=3306
)

conn

In [19]:
cur=conn.cursor()
cur

### 查詢語法
- select from tablename

In [ ]:
sqlstr="SELECT `id`, `email`, `phone`, `address` FROM `user` WHERE `id`=1;"
cur.execute(sqlstr)
# users=cur.fetchall()
users=cur.fetchone()
users

### 插入語法
- insert into

In [ ]:
username=input('姓名: ')
email=input('Email: ')
password=input('密碼: ')
phone=input('手機: ')
address=input('地址: ')

sqlstr=f"INSERT INTO `user` (`username`, `password`, `email`, `phone`, `address`) VALUES ('{username}', '{password}', '{email}', '{phone}', '{address}');"
sqlstr

In [ ]:
try:
    cur.execute(sqlstr)
    conn.commit()
except Exception as e:
    print("寫入失敗",e)

### 登入系統

In [21]:
email=input('Email: ')
password=input('密碼: ')

sqlstr=f"SELECT * FROM user WHERE email='{email}' and password='{password}';"
sqlstr

"SELECT * FROM user WHERE email='aabbcc@gamil.com' and password='12345678';"

In [22]:
cur.execute(sqlstr)
user=cur.fetchone()
user

(6,
 'Cindy',
 '12345678',
 'aabbcc@gamil.com',
 '0911223344',
 '',
 datetime.datetime(2024, 8, 24, 10, 42))

In [23]:
if user is not None:
    print('登入成功')
else:
    print('登入失敗')

登入成功

### 建立商品資料表(item)

- id => int, AI
- name => varchar(100), uniqne
- price => float
- qty => int default=1
- info => text default=Null

In [ ]:
sqlstr="INSERT INTO item (name, price, qty, info) values ('test', '100', 5, '')"
cur.execute(sqlstr)
conn.commit()

In [ ]:
name=input('品名: ')
price=input('價格: ')
qty=input('數量: ')
info=input('詳細資料: ')
sqlstr=f"INSERT INTO item (name, price, qty, info) values ('{name}', '{price}', {qty}, '{info}')"

In [ ]:
cur.execute(sqlstr)
conn.commit()

### 商品列表

In [4]:
sqlstr="SELECT * FROM item;"

cur.execute(sqlstr)
items=cur.fetchall()
items

((3, 'test', 100.0, 5, '', datetime.date(2024, 8, 24)),
 (4, 'macbook', 35000.0, 1, '256ssd 16g', datetime.date(2024, 8, 24)),
 (5, 'apple watch', 17000.0, 2, '', datetime.date(2024, 8, 24)),
 (6, 'phone case', 300.0, 10, '', datetime.date(2024, 8, 24)),
 (7, 'ipad', 8000.0, 0, '', datetime.date(2024, 8, 24)))

In [5]:
# items=[list(item) for item in items]
# items

In [11]:
def update_item():
    sqlstr="SELECT * FROM item;"
    cur.execute(sqlstr)
    items=cur.fetchall()
    return items

In [17]:
cart=[]
while True:
    # 同步更新最新產品
    items=update_item()
    print("-"*50)
    for i,item in enumerate(items):
        print(f"{i+1}. 商品名稱: {item[1]}, 商品價格: {item[2]}元, 數量: {item[3]}, 備註: {item[4]}")

    # 選項>=1 and <=len(item) 才算輸入正確
    choice=int(input("輸入編號(0:exit):"))
    if choice==0:
        break
    if choice<1 or choice>len(items):
        print("輸入編號不在範圍內，請重新輸入")
        continue

    # 數量小於1 => 無庫存，顯示輸入不正確
    buy_item=items[choice-1]
    if buy_item[3]<1:
        print(f"{buy_item[1]} 商品已無庫存")
        continue
    
    # 商品購物車
    cart.append(buy_item)
    print(f"{buy_item[1]} 加入購物車")

    # 更新商品數量
    sqlstr=f'UPDATE item SET qty={buy_item[3]-1} WHERE id={buy_item[0]};'
    cur.execute(sqlstr)
    conn.commit()

print("完成購買")
print("購買商品如下: ")
for product in cart:
    print(product[1])

--------------------------------------------------
1. 商品名稱: test, 商品價格: 100.0元, 數量: 5, 備註:
2. 商品名稱: macbook, 商品價格: 35000.0元, 數量: 1, 備註: 256ssd 16g
3. 商品名稱: apple watch, 商品價格: 17000.0元, 數量: 2, 備註:
4. 商品名稱: phone case, 商品價格: 300.0元, 數量: 10, 備註:
5. 商品名稱: ipad, 商品價格: 8000.0元, 數量: 0, 備註:
test 加入購物車
--------------------------------------------------
1. 商品名稱: test, 商品價格: 100.0元, 數量: 4, 備註:
2. 商品名稱: macbook, 商品價格: 35000.0元, 數量: 1, 備註: 256ssd 16g
3. 商品名稱: apple watch, 商品價格: 17000.0元, 數量: 2, 備註:
4. 商品名稱: phone case, 商品價格: 300.0元, 數量: 10, 備註:
5. 商品名稱: ipad, 商品價格: 8000.0元, 數量: 0, 備註:
phone case 加入購物車
--------------------------------------------------
1. 商品名稱: test, 商品價格: 100.0元, 數量: 4, 備註:
2. 商品名稱: macbook, 商品價格: 35000.0元, 數量: 1, 備註: 256ssd 16g
3. 商品名稱: apple watch, 商品價格: 17000.0元, 數量: 2, 備註:
4. 商品名稱: phone case, 商品價格: 300.0元, 數量: 9, 備註:
5. 商品名稱: ipad, 商品價格: 8000.0元, 數量: 0, 備註:
phone case 加入購物車
--------------------------------------------------
1. 商品名稱: test, 商品價格: 100.0元, 數量: 4, 備註:
2. 商品名稱: macbook, 商品價格: 35000.0元, 數量: 1, 備註: 256ssd 16g
3. 商品名稱: apple watch, 商品價格: 17000.0元, 數量: 2, 備註:
4. 商品名稱: phone case, 商品價格: 300.0元, 數量: 8, 備註:
5. 商品名稱: ipad, 商品價格: 8000.0元, 數量: 0, 備註:
apple watch 加入購物車
--------------------------------------------------
1. 商品名稱: test, 商品價格: 100.0元, 數量: 4, 備註:
2. 商品名稱: macbook, 商品價格: 35000.0元, 數量: 1, 備註: 256ssd 16g
3. 商品名稱: apple watch, 商品價格: 17000.0元, 數量: 1, 備註:
4. 商品名稱: phone case, 商品價格: 300.0元, 數量: 8, 備註:
5. 商品名稱: ipad, 商品價格: 8000.0元, 數量: 0, 備註:
macbook 加入購物車
--------------------------------------------------
1. 商品名稱: test, 商品價格: 100.0元, 數量: 4, 備註:
2. 商品名稱: macbook, 商品價格: 35000.0元, 數量: 0, 備註: 256ssd 16g
3. 商品名稱: apple watch, 商品價格: 17000.0元, 數量: 1, 備註:
4. 商品名稱: phone case, 商品價格: 300.0元, 數量: 8, 備註:
5. 商品名稱: ipad, 商品價格: 8000.0元, 數量: 0, 備註:
完成購買
購買商品如下:
test
phone case
phone case
apple watch
macbook

### 送出訂單
- id
- user_id
- item_id
- created_time

In [28]:
for item in cart:
    sqlstr=f'INSERT INTO `order` (user_id, item_id) VALUES ({user[0]}, {item[0]});'
    cur.execute(sqlstr)
    conn.commit()
    print("送出訂單!",sqlstr)

送出訂單! INSERT INTO `order` (user_id, item_id) VALUES (6, 3);
送出訂單! INSERT INTO `order` (user_id, item_id) VALUES (6, 6);
送出訂單! INSERT INTO `order` (user_id, item_id) VALUES (6, 6);
送出訂單! INSERT INTO `order` (user_id, item_id) VALUES (6, 5);
送出訂單! INSERT INTO `order` (user_id, item_id) VALUES (6, 4);

### 開始出貨

In [30]:
# 找出user

sqlstr="select * from `order`;"
cur.execute(sqlstr)
orders=cur.fetchall()
orders

((11, 6, 3, datetime.datetime(2024, 8, 24, 14, 57, 19)),
 (12, 6, 6, datetime.datetime(2024, 8, 24, 14, 57, 19)),
 (13, 6, 6, datetime.datetime(2024, 8, 24, 14, 57, 19)),
 (14, 6, 5, datetime.datetime(2024, 8, 24, 14, 57, 19)),
 (15, 6, 4, datetime.datetime(2024, 8, 24, 14, 57, 19)))

In [31]:
user_id=orders[0][1]
user_id

6

In [32]:
sqlstr=f'select * from user where id={user_id}'
cur.execute(sqlstr)
user=cur.fetchone()
user

(6,
 'Cindy',
 '12345678',
 'aabbcc@gamil.com',
 '0911223344',
 '',
 datetime.datetime(2024, 8, 24, 10, 42))

In [33]:
sqlstr=f'select item_id from `order` where user_id={user_id}'
cur.execute(sqlstr)
buy_items=cur.fetchall()

print(buy_items)

((3,), (6,), (6,), (5,), (4,))

In [7]:
conn.close()